<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"/>
    <link href="../layuiadmin/layui/css/layui.css" rel="stylesheet"/>
    <!--  <link href="../layuiadmin/style/admin.css" rel="stylesheet" /> -->

    <script src="../Scripts/jquery-3.3.1.min.js"></script>
    <script src="../layuiadmin/layui/layui.js"></script>
    <title>Receive</title>
</head>
<body>
<div id="paging">
    <div class="layui-row">
        <div class="layui-card">

            <div class="layui-card-body">
                <form class="layui-form" style="margin-top:15px">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width:60px;">物料代码</label>
                        <div class="layui-input-inline" style="width:150px;">
                            <input type="text" class="layui-input" id="FNumber"/>
                        </div>

                        <label class="layui-form-label" style="width:60px;">物料名称</label>
                        <div class="layui-input-inline" style="width:150px;">
                            <input type="text" class="layui-input" id="FMName"/>
                        </div>
                        <label class="layui-form-label" style="width:60px;">单据编号</label>
                        <div class="layui-input-inline" style="width:150px;">
                            <input type="text" class="layui-input" id="FModel"/>
                        </div>
                        <div class="layui-input-inline" style="width:100px;float:right;display:none;">
                            <button type="button" lay-submit="" class="layui-btn layui-btn-warm" id="exportExcel"
                                    name="exportExcel" onclick="excel()">
                                <i class="layui-icon"></i>导出
                            </button>

                        </div>
                        <div class="layui-input-inline" style="width:100px;float:right ;display:none;">
                            <button type="button" lay-submit="" class="layui-btn layui-btn-warm" id="exportExcel1"
                                    name="exportExcel" onclick="exportexcel()">
                                <i class="layui-icon"></i>导入
                            </button>

                        </div>
                        <!--  <div class="layui-input-inline" style="width:150px;">
                           <button type="button" class="layui-btn layui-btn-warm layui-btn-radius" id="toExcel" onclick="excel()">导出数据</button>
                       </div> -->
                        <div class="layui-input-inline" style="width:100px;float:right">
                            <button type="button" class="layui-btn layui-btn-normal" id="btn">确认查询</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <table class="layui-hide" id="test"></table>
    </div>

</div>
</div>


<script>
    var FNumber = null;
    var FMName = null;
    var FModel = null;

    function excel() {

        if (FNumber != null || FMName != null || FModel != null) {
            window.location.href = 'http://localhost:8089/demo/sale/export?FMaterialNumber='
                + FNumber + '&FMaterialName=' + FMName +
                '&FSPECIFICATION=' + FModel;
        } else {
            window.location.href = 'http://localhost:8089/demo/sale/export';
        }

    }

    $("#upload").click(function () {
        var formData = new FormData($("#form")[0]);//获取表单中的文件

        $.ajax({
            url: "../area/upload",//后台的接口地址
            type: "post",//post请求方式
            data: formData,//参数
            cache: false,
            processData: false,
            contentType: false,
            success: function (data) {
                alert(data);
                window.location.reload();
            }, error: function () {
                alert("操作失败~");
            }

        })
    });


    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#test'
            , url: '../qlb/getqlbwlfpmx'
            , cellMinWidth: 100

            , totalRow: true
            , page: true
            , limit: 30
            , limits: [10, 20, 30, 40, 50, 60, 70, 80, 90]
            , size: 'sm' //小尺寸的表格
            , height: 'full-110' //高度最大化减去差值

            /*  , where: { FMaterialNumber: '', FMaterialName: '', FSPECIFICATION: '' } */

            , cols: [[
                {field: 'fbilltype', width: 100, title: '订单类型', sort: true}
                //, {field: 'fmobillno', width: 100, title: '订单编号', sort: true}
                //, {field: 'fbilltype', width: 100, title: '单据类型', sort: true}
                , {field: 'fbillno', width: 100, title: '单据编号', sort: true}
                , {field: 'fmoentryseq', width: 100, title: '行号', sort: true}
                , {field: 'fmaterialnumber', width: 100, title: '产品代码', sort: true}
                , {field: 'fmaterialname', width: 100, title: '产品名称', sort: true}
                , {field: 'fspecification', width: 100, title: '规格型号', sort: true}
                , {field: 'fprdorg', width: 100, title: '组织', sort: true}
                , {field: 'fworkshop', width: 100, title: '生产车间', sort: true}
                , {field: 'fappqty', width: 100, title: '生产数量', sort: true}
                , {field: 'falreadyappqty', width: 100, title: '已生产数量', sort: true}
                , {field: 'fcreatedate', width: 100, title: '预计生产日期', sort: true}
                , {field: 'fenddate', width: 100, title: '预计完工日期', sort: true}
                , {field: 'fcompleteMateriaStatus', width: 100, title: '齐料状态', sort: true}
                , {field: 'replyDeliveryDate', width: 100, title: '齐套日期', sort: true}
                , {field: 'fcategorytype', width: 100, title: '物料类型', sort: true}
                //, {field: 'fquantityPerQTY', width: 100, title: '单位用量', sort: true}
                , {field: 'factualqty', width: 100, title: '需发数量', sort: true}
                , {field: 'stockQTY', width: 100, title: '库存数量', sort: true}
                , {field: 'understockQTY', width: 100, title: '欠库存数量', sort: true}
                , {field: 'prdorderQTY', width: 100, title: '任务单数量', sort: true}
                , {field: 'suborderQTY', width: 100, title: '委外订单数量', sort: true}
                , {field: 'poqty', width: 100, title: 'PO数量', sort: true}
                , {field: 'prqty', width: 100, title: 'PR数量', sort: true}
                , {field: 'plnorderQTY', width: 100, title: '订单数量', sort: true}
                , {field: 'demandQTY', width: 100, title: '需下单数量', sort: true}
                , {field: 'totalDemandQTY', width: 100, title: '需下单总数', sort: true}
                , {field: 'inspectionQTY', width: 100, title: '在检数量', sort: true}
                , {field: 'requisitionBillNo', width: 100, title: '请购单号', sort: true}
                , {field: 'requisitionDate', width: 100, title: '请购日期', sort: true}
                , {field: 'fsrctype', width: 100, title: '源单类型', sort: true}
                , {field: 'fsrcbillno', width: 100, title: '单据编码', sort: true}
                , {field: 'fcreatorname', width: 100, title: '制单人', sort: true}
                , {field: 'fdate', width: 100, title: '下单日期', sort: true}
                , {field: 'deliveryDate', width: 100, title: '交期', sort: true}
                , {field: 'fmqty', width: 100, title: '数量', sort: true}
                , {field: 'fmallocatableQTY', width: 100, title: '可分配数量', sort: true}
                , {field: 'fmallocatedQTY', width: 100, title: '分配数量', sort: true}
                , {field: 'fmremainingQTY', width: 100, title: '剩余数量', sort: true}
                , {field: 'supplyUnit', width: 100, title: '供给单位', sort: true}
                , {field: 'supplyPRDORG', width: 100, title: '供给组织', sort: true}
                //,{field:'fqty', width:200, title: '供给组织', sort: true}
                //,{field:'fqty', width:200, title: '备注组织', sort: true}
                //,{field:'fqty', width:200, title: '备注信息', sort: true}
                //,{field:'FSALEORGID', width:200, title: 'id', sort: true}
                //, {field: 'id', width: 200, title: '资源id', sort: true}


            ]]
            , id: 'testReload'


            , parseData: function (res) {


                return {
                    "count": res.count,
                    "code": 0, //解析接口状态
                    "data": res.data
                };

            },
            response: {
                statusName: 'code',// 对应 code
                msgName: 'msg', // 对应 msg
                countName: 'count', //
                dataName: 'data'
            }
        });

        $('#btn').on('click', function () {
            FNumber = $('#FNumber').val();
            FMName = $("#FMName").val();
            FModel = $("#FModel").val();
            //执行重载
            table.reload('testReload', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: {
                    FMaterialNumber: FNumber,
                    FMaterialName: FMName,
                    FBILLNO: FModel,

                }
            }, 'data');
        });
    });


</script>

</body>
</html>
